{% extends "base.html" %}

{% block title %}{{ THEME_LANG_CATEGORIES_PAGE|default('Categories') }} | {{ SITENAME }}{% endblock %}

{% block content %}

<!-- Header -->
    <header id="header">
        <a href="{{ SITEURL }}/" class="title">{{ SITENAME }}</a>
        <nav>
            {% include "fragments/menu.html" %}
        </nav>
    </header>
    
	<div id="wrapper">
        <section id="main" class="wrapper">
            <div class="inner">
                <h1>{{ THEME_LANG_CATEGORIES_PAGE|default('Categories') }}</h1>
            </div>
        </section>
        <section id="categories" class="wrapper style2">
            <div class="inner">
                <div class="features">
                    {% for category, category_articles in categories|sort %}
                        {% set latest_article = category_articles|first %}
                        <section>
                            <h2>{{ category }}</h2>
                            <p>
                                {{ THEME_LANG_ARTICLES_IN_CATEGORY_LINE_1|default('There are %s articles in this category.')|format(category_articles|count) }}
                                {% if latest_article %}
                                    {{ THEME_LANG_ARTICLES_IN_CATEGORY_LINE_2|default('Latest article is <a href="%s">%s</a> posted on %s.')|format(SITEURL + '/' + latest_article.url, latest_article.title, latest_article.locale_date) }}
                                {% endif %}
                            </p>
                            <ul class="actions">
                                <li><a class="button" href="{{ SITEURL }}/{{ category.url }}">{{ THEME_LANG_VIEW_ARTICLES|default('View articles') }}</a></li>
                            </ul>
                        </section>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="article_links" class="wrapper style1">
            <div class="inner">
                {% with exclude_for = "categories" %}
                    {% include "fragments/article_links.html" %}
                {% endwith %}
            </div>
        </section>
    </div>

    {% include "fragments/footer.html" %}
{% endblock %}