{% extends "base.html" %}

{% block content %}
    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                {% include "fragments/menu.html" %}
            </nav>
        </div>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                {% if THEME_HOMEPAGE_INTRO_PAGE|default %}
                    {% for p in pages if p.slug == THEME_HOMEPAGE_INTRO_PAGE %}
                        {{ p.content }}
                    {% else %}
                        {% include "fragments/default_intro.html" %}
                    {% endfor %}
                {% else %}
                    {% include "fragments/default_intro.html" %}
                {% endif %}
            </div>
        </section>
        {% if THEME_HOMEPAGE_INCL_ARTICLES|default(true) %}
            <section id="content" class="wrapper style2 spotlights">
                {% block content_title %}
                {% endblock %}
                {% for article in articles_page.object_list %}
                    <section>
                        {% include "fragments/article_summary.html" %}
                    </section>
                {% endfor %}
            </section><!-- #content -->
        {% endif %}
        {% if THEME_HOMEPAGE_ARTICLES_PAGINATION is defined and articles_page.has_other_pages %}
            <section id="paginator" class="wrapper style1">
                <div class="inner">
                    {% if THEME_HOMEPAGE_ARTICLES_PAGINATION == "paginator"%}
                        {% include "fragments/articles_paginator.html" %}
                    {% else %}
                        <a class="button" href="{{ THEME_HOMEPAGE_ARTICLES_PAGINATION }}">{{ THEME_LANG_VIEW_MORE_ARTICLES|default('View more articles') }}</a>
                    {% endif %}
                </div>
            </section>
        {% endif %}
        {% for p in pages|selectattr("metadata.homepage_sort")|sort(attribute="metadata.homepage_sort") %}
            <section id="{{ p.slug }}" class="wrapper{% if p.metadata.get("homepage_style", "") %} {{ p.metadata.homepage_style }}{% endif %}">
                <div class="inner">
                    {{ p.content }}
                </div>
            </section>
        {% endfor %}
    </div>
    
    {% with footer_style="style1-alt" %}
        {% include "fragments/footer.html" %}
    {% endwith %}
{% endblock content %}
