{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock %}

{% block content %}
    <section id="sidebar">
        <div class="inner">
            <nav>
                {% include "fragments/menu.html" %}
            </nav>
        </div>
    </section>
	<div id="wrapper">
        <header id="header">
            <a href="{{ SITEURL }}/" class="title">{{ SITENAME }}</a>
        </header>
        <section id="main" class="wrapper">
            <div class="inner">
                <h1 class="major">{{ page.title }}</h1>
                {% if page.cover %}
                    <span class="image fit"><img src="{{ static }}/img/{{ page.cover }}" alt="" /></span>
                {% endif %}
                {{ page.content }}
            </div>
        </section>
    </div>
    {% include "fragments/footer.html" %}
{% endblock %}