{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock %}

{% block content %}
    <section id="sidebar">
        <div class="inner">
            <nav>
                {% include "fragments/menu.html" %}
            </nav>
        </div>
    </section>
	<div id="wrapper">
        <header id="header">
            <a href="{{ SITEURL }}/" class="title">{{ SITENAME }}</a>
            <nav>
                {% with menu_style="child" %}
                    {% include "fragments/menu.html" %}
                {% endwith %}
            </nav>
        </header>
        {{ page.content }}
    </div>
    {% include "fragments/footer.html" %}
{% endblock %}